gradio
torch
transformers==4.50.0
sentencepiece
tqdm
protobuf
numpy
requests
sacremoses
pandas
regex
mock
nltk
mosestokenizer
bitsandbytes
scipy
accelerate
datasets
git+https://github.com/VarunGumma/IndicTransToolkit